body {
    padding: 0 30px;
    background: #849D8F;
    margin: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 1200px;
}

a {
    color: inherit;
}

/* ОФОРМЛЕНИЕ КНОПОК */

.button {
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    color: inherit;
    font-family: inherit;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px #AC1000;
    border-radius: 70px;
}

.button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: inset 0px 2px 2px #942718;
    border-radius: 70px;
}

/* ВЕРХНЕЕ МЕНЮ */

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-main-list > * {
    margin-left: 17px;
    padding: 8px 13px;
    border-radius: 26px;
}

.header-main-list .logo {
    margin-left: 0;
    padding: 8px 0 2px 0;
}

   
.header-main-list li:not(:first-child):hover {
    background-color: #FFFFFF;
    color: #323232;
}

.header-aditional-list > * {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 8px;
}

.header-aditional-list li:hover {
    background-color: #FFFFFF;
    color: #323232;
}

.header-aditional-list li:hover svg path {
    fill: #323232;
}

.header-aditional-list span {
    margin-left: 8px;
}

.header-aditional-list li:not(:first-child) {
    padding: 8px 16px;
}

.header-aditional-list li:last-child {
    margin-right: 0;
}

/* ВЫПАДАЮЩЕЕ МЕНЮ */

.dropdown {
    position: relative;
}


.dropdown:hover .main-list__item {
    display: block;
}

.main-list__item {
    display: none;
    position: absolute;
    width: 143px;
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    top: 25px;
    left: 0px;
    z-index: 99999999;
}

.main-list__item a {
    padding: 0 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: block;
    color: #323232;
    text-decoration: none;
    padding: 10px 20px;
}

.main-list__item hr {
    border: 1px solid rgba(50, 50, 50, 0.2);
    width: 128px;
    margin: 0 6px;
}

.main-list__item a:hover {
    background: #FBDED7;
}

.main-list__item a:hover:last-child {
    border-radius: 0 0 4px 4px;
}

.main-list__item a:hover:first-child {
    border-radius: 4px 4px 0 0;
}

.main-list__item a:active {
    background: #F6B5A5;
}

.main-list__item a:active:last-child {
    border-radius: 0 0 4px 4px;
}

.main-list__item a:active:first-child {
    border-radius: 4px 4px 0 0;
}

/* ПОИСК */

.search {
    position: relative;
}

.search-input {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    top: 32px;
    right: 0px;
    padding: 20px 15px;
}

.search-input input {
    padding-left: 10px;
    background: #FFFFFF;
    border: 1px solid #D3D3D2;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 311px;
    height: 44px;
}

.search:hover .search-input {
    display: block;
}

.search-input:hover {
    display: block;
}

/* АВТОРИЗАЦИЯ */

.autorization {
    position: relative;
}

.autorization:hover .autorization-main {
    display: block;
}

.autorization-main {
    display: none;
    position: absolute;
    width: 277px;
    background: #F8F7F4;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    top: 35px;
    right: 0px;
    z-index: 999;
    padding: 20px 17px;
}

.autorization-main input {
    display: block;
    background: #FFFFFF;
    margin-bottom: 20px;
    border: 1px solid #D3D3D2;
    border-radius: 4px;
    width: 260px;
    height: 44px;
    padding-left: 10px;
}

.autorization-btn__item {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #323232;
}

.autorization-btn__item a {
    display: block;
    padding: 0 0 9px 0;
}

.autorization-btn {
    display: flex;
    justify-content: space-between;  
}

.autorization-button {
    padding: 15px 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: white;
}

/* РЕЖИМ РАБОТЫ И ТЕЛЕФОНЫ*/

.opening-hours {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.opening-hours_tel {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
}

.opening-hours_tel a {
    text-decoration: none;
}

/* БЛОК АКЦИЙ */

.ads-cards {
    display: flex;
    justify-content: space-between;
    column-gap: 26px;
    margin-top: 41px;
}

.ads-cards__item1 {
    height: 229px;
    background-image: url(../img/raspberry.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    z-index: 9999;
    border-radius: 16px;
    position: relative;
}

.ads-cards__item1 h2 {
    font-weight: 700;
    font-size: 35px;
    padding: 16px;
    margin: 0;
}

.ads-cards__item1 p {
    font-size: 18px;
    line-height: 22px;
    padding: 0 16px;
    margin: 0;
}

.ads-cards__item2 {
    height: 229px;
    background-image: url(../img/chocolate.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    z-index: 9999;
    border-radius: 16px;
    position: relative;
}

.ads-cards__item2 h2 {
    font-weight: 700;
    font-size: 35px;
    padding: 16px;
    margin: 0;
}

.ads-cards__item2 p {
    font-size: 18px;
    line-height: 22px;
    padding: 0 16px;
    margin: 0;
}

.ads-cards__button {
    font-size: 18px;
    line-height: 24px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    padding: 16px 22px;
}

.ads-cards__button1 {
    position: absolute;
    right: 22px;
    bottom: 22px;
}

.ads-cards__button2 {
    position: absolute;
    right: 22px;
    bottom: 22px;
}

/* БЛОК ХИТЫ ПРОДАЖ */

.hit-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.hit-list {
    position: relative;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    transition: all 0.5s ease;
}

.hit-img:before {
    content: "";
    display: block;
    background-image: url(../img/hit.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 61px;
    height: 61px;
    position: absolute;
}

.hit-list:hover .hit-list__wrapper {
    visibility: visible;
}

.hit-list__wrapper {
    background-color:rgb(255 255 255 / 20%);
    position: absolute;
    height: 402px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    visibility: hidden;
}

.hit-list__wrapper .hit-list__btn {
    height: 40px;
}

.hit-praic {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    position: absolute;
    bottom: 90px;
}

.hit-praic span {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.hit-list__btn {
    cursor: pointer;
    padding: 12px 16px;
}

.hit-description p {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
}

.hit-list__description {
    padding: 0 13px;
    text-align: center;
}

/* БЛОК ПРИЕМУЩЕСТВА */

.pattern {
    background-image: url(../img/pattern.png);
    color: black;
    margin-top: 40px;
    border-radius: 16px;
}

.advantages-icon {
    border: black solid 2px;
    width: 49px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.advantages-text {
    padding-top: 10px;
}

.advantages-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.advantages-block {
    display: grid;
    grid-template-columns: 49px 1fr;
    column-gap: 10px;
}

.advantages-container {
    padding: 24px 20px;
}

.advantages-container p {
    margin: 0;
    margin-bottom: 21px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

/* БЛОК РАССЫЛКИ И НОВОСТЕЙ */

.useful {
    display: flex;
    justify-content: space-between;
    column-gap: 26px;
    margin-top: 40px;
}

.blog {
    height: 220px;
    width: 100%;
    background-image: url(../img/strawberry.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    color:#323232;
}

.blog p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding-left: 20px;
}

.blog div {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px; 
    padding-left: 20px;
    width: 287px;
}

.mailing-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}


.mailing-bg {
    background-color: #F8F7F4;
    height: calc(100% - 10px);
    border-radius: 16px;
    width: calc(100% - 10px);
}

.mailing-container {
    width: 100%;
    background-image: url(../img/mail.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    color: #5A5A5A;
    padding: 30px 20px;
}

.mailing-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 47px;
}

.mailing-button {
    color: white;
    padding: 14px 19px;
    margin-left: 10px;
}

.mailing-input {
    background: #FFFFFF;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 6px;
    width: 368px;
    padding: 14px;
}

/* КАРТА */

.map {
    margin-top: 40px;   
}

.map-container {
    position: relative;
}

.map-adres {
    width: 303px;
    height: 306px;
    background-color: #FEFEFE;
    color:#323232;
    border-radius: 16px;
    padding: 32px 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 27px;

}

.map-adres p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 8px 0;
}

.map-adres p:nth-child(3) {
    margin-top: 30px;
}

.map-adres span {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.map-button {
    padding: 13px 28px;
    margin-top: 23px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

/* ПОДВАЛ */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
}

.Copyright {
    margin-top: 18px;
    margin-bottom: 25px;
}

.Copyright p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.footer-favorite {
    position: relative;
}

.footer-favorite:before {
    content: "";
    display: block;
    background-image: url(../img/heart.svg);
    width: 15px;
    height: 15px;
    position: absolute;
    left: -23px;
    top: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}